.main-wrapper {
  margin: 0 auto 20px;
  display: flex;
  gap: 30px;

  .form-wrapper {
    border: 1px solid lightblue;
    border-radius: 24px;
    padding: 16px;
    height: max-content;
    width: fit-content;
  }

  .table-wrapper .table-container {
    /*   min-height: 100px; */
  }
}
.bottom {
  margin-bottom: 20px;
}
