.select {
  text-align: left;
  min-width: max-content;

  .label {
    margin-bottom: 3px;
  }

  .select-input {
    text-align: left;

    &.onlyArrow {
      max-width: 38px;

      .select__value-container,
      .select__indicator-separator {
        display: none;
      }
    }

    &.custom {
      * {
        min-height: 0;
      }

      &.wide {
        min-width: 190px;
      }

      div > div {
        padding-top: 0;
        padding-bottom: 0;
      }

      :global(.select__indicator-separator) {
        display: none !important;
      }
    }
  }

  .error-message {
    color: red;
    font-size: 12px;
  }
}

.select__menu-portal {
  width: max-content;
}
.select__menu {
  min-width: max-content;
}
