.form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .newformMenu {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    h5 {
      .new {
        color: blue;
      }
      .edit {
        color: red;
      }
    }
  }

  &.locality {
    max-width: 600px;
  }

  &.species-table {
    .input {
      max-width: 178px;
      padding: 5px 2px;
    }

    .container.ultra-narrow {
      max-width: 79px;
    }

    .container.narrow {
      max-width: 112px !important;
      margin: 0 1px;

      .input {
        max-width: 108px !important;
      }
    }

    .input {
      min-height: 26px;
    }

    .select {
      min-width: 190px;
      width: 190px;
      max-width: 190px;
    }

    .select:nth-child(2) {
      min-width: 108px;
      width: 108px;
      max-width: 108px;
    }
    .btn-wrapper {
      display: flex;
      gap: 12px;

      .submit-btn {
        align-self: flex-start !important;

        &:nth-of-type(2) {
          background-color: rgb(199, 226, 162);
          border: 1px solid green;
          border-radius: 2px;

          &:hover {
            background-color: rgb(192, 222, 149);
          }
        }
      }
    }
  }

  &.new-species {
    .row {
      align-items: flex-end;

      .select {
        max-width: 38px;
      }

      .container.narrow {
        max-width: 108px;
      }

      .container {
        width: 200px;
      }
    }
    padding-bottom: 10px;
  }

  &.compact {
    .row {
      gap: 3px;
    }

    .submit-btn {
      align-self: flex-end;
      min-width: 120px;
    }
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .date-switcher {
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 0.6em;
    text-align: left;
    color: darkblue;

    .date-btn-switch {
      cursor: pointer;
      padding: 2px 4px;
      border: 1px solid darkblue;

      &.hidden {
        opacity: 0;
      }
    }
  }

  .submit-btn {
    height: 40px;
  }

  .input:disabled,
  .select--is-disabled {
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
  }
  .select--is-disabled * {
    color: rgb(97, 97, 97);
    border-color: rgb(97, 97, 97);
    background-color: rgb(235, 235, 235);
  }

  .side-panel {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99993;

    .body {
      padding: 20px;
      max-height: 100vh;
      width: 360px;
      background: white;
      border-left: 1px solid grey;
      border-bottom: 1px solid grey;
      position: relative;

      .items {
        min-height: 0;
        max-height: 86vh;
        overflow: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 50px;
      }

      .item {
        padding: 8px;
        text-align: left;
        font-size: 12px;
        cursor: pointer;
        color: rgb(97, 97, 97);
        &:hover {
          color: black;
        }
      }
      .cancel-btn {
        position: absolute;
        bottom: 30px;
      }
    }
  }

  @media (min-width: 756px) {
    .row {
      flex-direction: row;

      > div:not(.textarea) {
        width: 50%;
      }

      > div.double {
        width: 100%;
      }
    }
  }
}
